.contenido {
    max-width: 1200px;
    width: 100%;
    margin: 20px 20px;
    display: flex;
}

.mostrador {
    width: 100%;
    transition: .5s ease;
}

.mostrador .fila {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.mostrador .fila .item {
    max-width: 210px;
    padding: -10px;
    height: 250px;
    /*border: 2px solid red;*/
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
    background-color: #ffffffe3;
}

.mostrador .fila .item:hover {
    background-color: #00fff2;
}

.mostrador .fila .item:hover .descripcion {
    background-color: #00fff2;
}

.mostrador .fila .item:hover .precio {
    background-color: #00fff2;
}

.mostrador .fila .item img {
    width: 100%;
    margin: 40px 0;
}

.mostrador .fila .item .descripcion {
    color: #000000;
    font-weight: bold;
    background-color: #ffffffe3;
    border-radius: 5px;
    text-align: center; /* Agrega esta línea para centrar el texto */
}

.mostrador .fila .item .precio {
    color: #ff7e0e;
    font-weight: bold;
    font-size: 20px;
    background-color: #ffffffe3;
    border-radius: 5px;
}
#inBtn {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    line-height: 10px;
    border: 4px solid #00cccc;
    color: #000000;
    cursor: pointer;
}