.contenido {
    max-width: 1200px;
    width: 100%;
    margin: 20px 20px;
    display: flex;
}

.mostrador {
    width: 100%;
    transition: .5s ease;
}

.mostrador .fila {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.mostrador .fila .item {
    width: 100%;
    height: 400px;
    max-width: 210px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
    background-color: #000000a7;
}


.mostrador .fila .item:hover {
    background-color: #00fff2;
}

.mostrador .fila .item:hover .descripcion {
    background-color: #00fff2;
}

.mostrador .fila .item:hover .precio {
    background-color: #00fff2;
}

.mostrador .fila .item:hover .type {
    background-color: #00fff2;
}

.mostrador .fila .item img {
    width: 100%;
    margin: 40px 0;
}

.mostrador .fila .item .descripcion {
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    text-align: center; /* Agrega esta línea para centrar el texto */
}

.mostrador .fila .item .precio {
    color: #ff5500;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}

.mostrador .fila .item .type {
    color: #ff0000;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}

.inBtn {
    width: 100%; /* Ancho de cada botón */
    height: auto; /* Ajusta la altura automáticamente según el contenido del texto */
    border-radius: 10px;
    padding: 10px 20px; /* Agrega padding interno para darle espacio al texto */
    font-size: 16px; /* Ajusta el tamaño de la fuente */
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    flex: 1; /* Hace que los botones ocupen el mismo ancho y se distribuyan equitativamente */
    margin: 0 5px; /* Añade margen entre los botones */
    max-width: 100%; /* Define el ancho máximo de cada botón */
}

.button-container {
    display: flex; /* Hace que los elementos hijos se alineen en una fila */
    width: 100%; /* El contenedor ocupa todo el ancho del navegador */
    justify-content: space-between; /* Distribuye los elementos hijos equitativamente en la fila */
    padding: 0 10px; /* Agrega un poco de espacio alrededor de los botones */
}
