<app-nav></app-nav>
<h1 align="center" style="color:#ff8b31;">PUBLICACIONES REPORTADAS Y EN REVISION</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">TITULO</th>
            <th scope="col">ESTADO</th>
            <th scope="col">TIPO</th>
            <th scope="col">CATEGORIA</th>
            <th scope="col">DESCRIPCION</th>
            <th scope="col">IMAGEN</th>
            <th scope="col">CANTIDAD</th>
            <th scope="col">PRECIO UNITARIO</th>
            <th scope="col">FECHA</th>
            <th scope="col">ACEPTAR</th>
            <th scope="col">RECHAZAR</th>
        </tr>
    </thead>

    <tbody>
        @for(publication of publications; track publication){
        <tr>
            <th scope="row">{{publication.title}}</th>
            <td>{{states[publication.id]}}</td>
            <td>{{types[publication.id]}}</td>
            <td>{{categories[publication.id]}}</td>
            <td>{{publication.description}}</td>
            <td><img class="small-flag" src="{{publication.image}}" width="100" height="100"></td>
            <td>{{publication.quantity}}</td>
            <td>{{publication.unity_price}}</td>
            <td>{{publication.date}}</td>
            <td><input type="submit" (click)="accept(publication.id)" name="login" value="Aceptar"
                    class="btn btn-success"></td>
            <td><input type="submit" (click)="reject(publication.id)" name="login" value="Rechazar"
                    class="btn btn-danger"></td>
        </tr>
        }
    </tbody>
</table>