<app-nav></app-nav>
<h1 align="center" style="color:#ff5500;">INFORMACION ACERCA DE PUBLICACIONES</h1>
<div class="button-container">
    <input type="submit" (click)='setInformation(0)' name="login" value="VER INFORMACION DE ESTADO" class="inBtn"
        style="background-color:rgb(0, 247, 255)">
    <input type="submit" (click)='setInformation(1)' name="login" value="VER INFORMACION DE TIPOS" class="inBtn"
        style="background-color:rgb(0, 76, 255)">
    <input type="submit" (click)='setInformation(2)' name="login" value="VER INFORMACION DE CATEGORIAS" class="inBtn"
        style="background-color:rgb(128, 0, 255)">
</div>
@if(seeInformation === 0){
<h1 align="center" style="color:#53ff31;">ESTADO DE PUBLICACIONES</h1>
}@else if(seeInformation === 1){
<h1 align="center" style="color:#53ff31;">TIPOS DE PUBLICACIONES</h1>
}@else if(seeInformation === 2){
<h1 align="center" style="color:#53ff31;">CATEGORIAS</h1>
}
<table class="table">
    <thead class="thead-dark">
        <tr align="center">
            <th scope="col">NUMERO</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">DESCRIPCION</th>
        </tr>
    </thead>
    <tbody>
        @if(seeInformation === 0){
        @for(publicationType of publicationTypes; track publicationType){
        <tr align="center">
            <th scope="row">{{publicationType.id}}</th>
            <td>{{publicationType.name}}</td>
            <td>{{publicationType.description}}</td>
        </tr>
        }}@else if(seeInformation === 1){
        @for(publicationState of publicationStates; track publicationState){
        <tr align="center">
            <th scope="row">{{publicationState.id}}</th>
            <td>{{publicationState.name}}</td>
            <td>{{publicationState.description}}</td>
        </tr>
        }}@else if(seeInformation === 2){
        @for(category of categories; track category){
        <tr align="center">
            <th scope="row">{{category.id}}</th>
            <td>{{category.name}}</td>
            <td>{{category.description}}</td>
        </tr>
        }}
    </tbody>
</table>